In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
BD_Atun=pd.read_csv("BD_Evaluación_DS/Categorías/BD_Atún.csv", sep=';',encoding='latin-1')
BD_Cereales=pd.read_csv("BD_Evaluación_DS/Categorías/BD_Cereales.csv", sep=';',encoding='latin-1')
BD_Snacks=pd.read_csv("BD_Evaluación_DS/Categorías/BD_Snacks.csv", sep=';',encoding='latin-1')

In [34]:
estadisticas_descriptivas=BD_Atun.describe()
print(estadisticas_descriptivas)

                Año
count  30295.000000
mean    2020.283413
std        1.608252
min     2018.000000
25%     2019.000000
50%     2020.000000
75%     2022.000000
max     2023.000000

In [37]:
# Función para calcular y mostrar las estadísticas descriptivas para una tabla dada
def descriptive_statistics(tabla, category):
    print(f"Estadísticas descriptivas para la categoría: {category}")
    for year, group in tabla.groupby('Año'):
        print(f"Año {year}:")
        print(f"Media Venta_Unidades: {np.mean(group['Venta_Unidades'])}")
        print(f"Mediana Venta_Unidades: {np.median(group['Venta_Unidades'])}")
        print(f"Desviación estándar Venta_Unidades: {np.std(group['Venta_Unidades'])}")
        print(f"Máximo Venta_Unidades: {np.max(group['Venta_Unidades'])}")
        print(f"Mínimo Venta_Unidades: {np.min(group['Venta_Unidades'])}")
        print()
        # Añade más cálculos estadísticos para otras columnas si es necesario
# Llamamos a la función para cada tabla
descriptive_statistics(BD_Atun, 'Venta_Unidades')

Estadísticas descriptivas para la categoría: Venta_Unidades
Año 2018:

KeyError: 'Venta_Unidades'

In [ ]:
# Función para calcular y mostrar las estadísticas descriptivas
def descriptive_statistics(category, data):
    print(f"Estadísticas descriptivas para la categoría: {category}")
    for year, values in data.items():
        category_data = values[category]
        print(f"Año {year}:")
        print(f"Media: {np.mean(category_data)}")
        print(f"Mediana: {np.median(category_data)}")
        print(f"Desviación estándar: {np.std(category_data)}")
        print(f"Máximo: {np.max(category_data)}")
        print(f"Mínimo: {np.min(category_data)}")
        print()

# Realizamos el análisis para cada categoría
categories = ['conservas_pescado', 'snacks', 'cereales']
for category in categories:
    descriptive_statistics(category, data)

In [27]:
Fallecidos_Covid19=pd.read_csv("BD_Evaluación_DS/Variables/Fallecidos_Covid19.csv", sep=';',encoding='latin-1')
Festividades=pd.read_csv("BD_Evaluación_DS/Variables/Festividades.csv", sep=';',encoding='latin-1')
Positivos_Covid19=pd.read_csv("BD_Evaluación_DS/Variables/Positivos_Covid19.csv", sep=';',encoding='latin-1')
Precio_Huevo=pd.read_csv("BD_Evaluación_DS/Variables/Precio_Huevo.csv", sep=';',encoding='latin-1')
Precio_Pollo=pd.read_csv("BD_Evaluación_DS/Variables/Precio_Pollo.csv", sep=';',encoding='latin-1')
Tipo_Cambio=pd.read_csv("BD_Evaluación_DS/Variables/Tipo_Cambio.csv", sep=';',encoding='latin-1')

In [36]:
BD_Atun

,Año,Día,Mes,Retail,Zona,Venta_Unidades,Venta_Soles,PVP_Unitario,Inventario_Unidades
0,2018,2/01/2018,Enero,Cliente_1,CENTRO,3,14,4.7,-
1,2018,7/01/2018,Enero,Cliente_1,CENTRO,1,7,7,-
2,2018,8/01/2018,Enero,Cliente_1,CENTRO,2,14,7,-
3,2018,9/01/2018,Enero,Cliente_1,CENTRO,1,7,7,-
4,2018,10/01/2018,Enero,Cliente_1,CENTRO,2,14,7,-
...,...,...,...,...,...,...,...,...,...
30290,2023,25/06/2023,Junio,Cliente_7,SUR,577,"3,110",5.4,"13,678"
30291,2023,26/06/2023,Junio,Cliente_7,SUR,367,"2,314",6.3,"13,301"
30292,2023,27/06/2023,Junio,Cliente_7,SUR,274,"1,741",6.4,"13,040"
30293,2023,28/06/2023,Junio,Cliente_7,SUR,276,"1,778",6.4,"10,102"
30294,2023,29/06/2023,Junio,Cliente_7,SUR,343,"2,192",6.4,"12,081"

In [25]:
# Calcula la cantidad de valores nulos por columnas
nulos_por_columna = BD_Snacks.isnull().sum()
print(nulos_por_columna)

Año                           0
Día                           0
Mes                           0
Retail                        0
Zona                          0
  Venta_Unidades            225
  Venta_Soles               225
 PVP_Unitario                 0
  Inventario_Unidades      6202
dtype: int64

In [13]:
pd.read_csv("BD_Evaluación_DS/Categorías/BD_Cereales.csv", sep=';',encoding='latin-1')

,Año,Día,Mes,Retail,Zona,Venta_Unidades,Venta_Soles,PVP_Unitario,Inventario_Unidades,Unnamed: 9
0,2018,2/01/2018,Enero,Cliente_1,CENTRO,6.0,86.0,17.0,-,NaN
1,2018,3/01/2018,Enero,Cliente_1,CENTRO,3.0,28.0,10.9,-,NaN
2,2018,4/01/2018,Enero,Cliente_1,CENTRO,2.0,18.0,10.9,-,NaN
3,2018,5/01/2018,Enero,Cliente_1,CENTRO,7.0,65.0,10.9,-,NaN
4,2018,6/01/2018,Enero,Cliente_1,CENTRO,6.0,55.0,10.9,-,NaN
...,...,...,...,...,...,...,...,...,...,...
25459,2023,25/06/2023,Junio,Cliente_7,SUR,27.0,457.0,19.9,428.0,NaN
25460,2023,26/06/2023,Junio,Cliente_7,SUR,16.0,320.0,23.6,412.0,NaN
25461,2023,27/06/2023,Junio,Cliente_7,SUR,17.0,332.0,23.0,395.0,NaN
25462,2023,28/06/2023,Junio,Cliente_7,SUR,14.0,280.0,23.6,417.0,NaN
25463,2023,29/06/2023,Junio,Cliente_7,SUR,34.0,677.0,23.5,473.0,NaN